<div>
  <div class="row mt15">
    <div class="col">
      <div class="card">
        <div class="card-header">
            Saldo
          </div>
          <div class="card-body">
            R$ 500,00
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          Última compra
        </div>
        <div class="card-body">
          Você ainda não realizou compra
        </div>
      </div>
    </div>

    <div class="col pd15-r">
      <div class="card">
        <div class="card-header">
          title
        </div>
        <div class="card-body">
          subject
        </div>
      </div>
    </div>
  </div>
  
<!-- row 2 -->

  <div class="row mt15">
    <div class="col">
      <div class="card">
        <div class="card-header">
            title
          </div>
          <div class="card-body">
            subject
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          title
        </div>
        <div class="card-body">
          subject
        </div>
      </div>
    </div>

    <div class="col pd15-r">
      <div class="card">
        <div class="card-header">
          title
        </div>
        <div class="card-body">
          subject
        </div>
      </div>
    </div>
  </div>

</div>