<div>
  <div class="row mt15">
    <div class="col">
      <div class="card">
        <div class="card-header">
            title
          </div>
          <div class="card-body">
            subject
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          title
        </div>
        <div class="card-body">
          subject
        </div>
      </div>
    </div>

    <div class="col pd15-r">
      <div class="card">
        <div class="card-header">
          title
        </div>
        <div class="card-body">
          subject
        </div>
      </div>
    </div>
  </div>
  
<!-- row 2 -->

  <div class="row mt15">
      <div class="col">
        <div class="card">
          <div class="card-header">
              title
            </div>
            <div class="card-body">
              subject
            </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <div class="card-header">
            title
          </div>
          <div class="card-body">
            subject
          </div>
        </div>
      </div>
  
      <div class="col pd15-r">
        <div class="card">
          <div class="card-header">
            title
          </div>
          <div class="card-body">
            subject
          </div>
        </div>
      </div>
    </div>

</div>